[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	rb = rebase -i
	st = status
	ci = commit
	pl = pull --rebase
	ps = push
	ad = add
	br = branch
	s = status -s
	ch = "!git checkout $(git branch -vv | grep -v '^\\*' | fzf | awk '{print $1}')"
	a = "! # add files with fzf preview diffs; \n\
        	f() { \
            	_height=$(stty size | awk '{print $1}');\
            	git s | fzf -m --preview \"git diff {2} | head -n $_height | pygmentize\" | awk '{print $2}' | xargs git add; \
        }	; f"
	rcon = rebase --continue
	tag-refresh = "!# Re reference tag.;\n \
        	f() { \
            	_height=$(stty size | awk '{print $1}');\
            	tag_name=`git tag | fzf --preview=\"git l {1} | head -n $_height\" `; \
            	echo $tag_name; \
            	git tag -d $tag_name; \
            	git tag $tag_name; \
        	}; f"	
	ll = "log \
        	--color --graph --decorate \
        	--date=format:'%Y-%m-%d' \
        	--abbrev-commit \
        	--pretty=format:'%C(red)%H%C(auto)%d %s %C(green)(%cr)%C(bold blue) %an'"
	branch-clean = "!# Search and delete merged branches.;\n\
        	curr_hash=`git show -s | head -1 | cut -d ' ' -f2`; \
        	for branch in `find .git/refs -type f | fzf --ansi -m --preview=\"cat {} | xargs git l\"` ; do \
            	hash=`cat $branch`; \
           	 if [ $hash = $curr_hash ]; then \
                continue; \
            	fi; \
            	git ll | egrep $hash -C 1; \
            	read -p \"Delete $branch? [y|n] \" -r; \
            	REPLY=${REPLY:-"n"}; \
            	if [ $REPLY = \"y\" ]; then \
                rm $branch; \
                echo \"\\033[32m$branch \\033[0mhas been\\033[31m deleted\\033[0m.\n\"; \
            	fi; \
        	done"
    	b-c = "!git branch-clean"
	df = "!# Print diff report.;\n\
        	fileA=/tmp/git-s-$(uuidgen); \
        	fileB=/tmp/git-diff-$(uuidgen); \
        	git s | awk '{print $2,$1}' > $fileA; \
       		git diff --numstat | awk '{print $3,$1,$2}' > $fileB; \
        	join -t' ' -a 1 $fileA $fileB | awk '{print $2, \"(+\"$3 \",-\"$4\")\", $1}' | sed 's/(+,-)/./; s/^\\([^?]\\) *\\./\\1 STAGED/' | column -t -s' ' ; \
        	rm -f $fileA $fileB; \
    		"
	bd = "!git branch -D $(git branch -vv | grep -v '^\\*' | fzf | awk '{print $1}')"
