[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout -b
	rb = rebase -i
	st = status
	ci = commit
	cm = commit -m
	ca = commit --amend
	pl = pull --rebase
	ps = push
	ad = add
	br = branch
	s = status -s
	ch = "!git checkout $(git branch -vv | grep -v '^\\*' | fzf | awk '{print $1}')"
	a = "! # add files with fzf preview diffs; \n\
        	f() { \
            	_height=$(stty size | awk '{print $1}');\
            	git s | fzf -m --preview \"git diff {2} | head -n $_height | pygmentize\" | awk '{print $2}' | xargs git add; \
        }	; f"
	rc = rebase --continue
	tag-refresh = "!# Re reference tag.;\n \
        	f() { \
            	_height=$(stty size | awk '{print $1}');\
            	tag_name=`git tag | fzf --preview=\"git l {1} | head -n $_height\" `; \
            	echo $tag_name; \
            	git tag -d $tag_name; \
            	git tag $tag_name; \
        	}; f"	
	ll = "log \
        	--color --graph --decorate \
        	--date=format:'%Y-%m-%d' \
        	--abbrev-commit \
        	--pretty=format:'%C(red)%H%C(auto)%d %s %C(green)(%cr)%C(bold blue) %an'"
	df = "!# Print diff report.;\n\
        	fileA=/tmp/git-s-$(uuidgen); \
        	fileB=/tmp/git-diff-$(uuidgen); \
        	git s | awk '{print $2,$1}' > $fileA; \
       		git diff --numstat | awk '{print $3,$1,$2}' > $fileB; \
        	join -t' ' -a 1 $fileA $fileB | awk '{print $2, \"(+\"$3 \",-\"$4\")\", $1}' | sed 's/(+,-)/./; s/^\\([^?]\\) *\\./\\1 STAGED/' | column -t -s' ' ; \
        	rm -f $fileA $fileB; \
    		"
	bd = "!git branch -D $(git branch -vv | grep -v '^\\*' | fzf | awk '{print $1}')"
	pt = "!# upstream tag force push with fzf;\n\
			f() { \
            	_height=$(stty size | awk '{print $1}');\
            	tag_name=`git tag | fzf --preview=\"git l {1} | head -n $_height\" `; \
            	echo $tag_name; \
            	git push upstream $tag_name -f; \
        	}; f"
	cw = "!# make WIP (work in process) commit; \n\
		f() { \
		git add .; \
		git commit -m 'WIP'; \
		}; f"
